:root {
    --primary-color: #ACC456;
    --secondary-color: #000000;
    --accent1-color: #ACC456;
    --accent2-color: #5A5571;
    --section-padding: 10px 50px 10px 50px
}


body {
    margin: 0; 
}
.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 100px;
    text-align: center;
    background-color: #0000009a;
    width: 100%;
    color: white;
}

.hero article {
    position: absolute;
    background-color:#219cbbaf;
    color: white;
    top: 200px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.hero article img {
    float: right;
    width: 250px; 
    height: auto;
}

h1, h2, h3 {
    font-family: 'Rajdhani';
    color: var(--secondary-color);
}

p, label, legend {
    font-family: 'open sans', serif;
}

header a {
    text-decoration: none;
}

footer img{
    width: 30px; 
    height: auto; 
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    align-items: center;
    padding: var(--section-padding);
    background-color: var(--accent1-color);
    margin-top: 40px;
    
}

footer p {
    grid-column: 2/3;
    font-size: 12px;
}

footer div {
    display: flex;
    grid-column: 3/4;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}

footer a {
    text-decoration: none;
}

header{
    display: flex;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent1-color); 
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

nav a{
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #474747; /* Darker purple for hover */
}

header img{
    width: 150px;
    height: auto;
}

h2{
    text-align: center;
    grid-column: 1/4;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
    justify-content: center;
    padding: var(--section-padding);
}

.history img {
    grid-column: 2/3;
    width: 400px;
}

.history p {
    margin-left: 5%;
}

.adventure {
    display: grid;
    place-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: var(--section-padding);
}

.adventure figure {
    width: 100%;
    height: auto;
    text-align: center;
}

.adventure h2 {
    grid-column: 1/6;
    text-align: center;
    margin-top: 2%;
}

.adventure img {
    width: 100%;
    height: auto;
    object-fit:cover;
}

.employee {
    display: grid;
    place-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: var(--section-padding);
    font-family: 'open sans', serif;
}

.employee figure {
    width: 70%;
    height: auto;
    text-align: center;
}

.employee h2 {
    grid-column: 1/6;
    text-align: center;
    margin-top: 2%;
}

.employee img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.company-info {
    display: grid;
    place-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: var(--section-padding);
    margin: 20px 0px 20px 0px;
}

.company-info .map {
    grid-column: 2/3;
    grid-row: 2/2;
}

.company-info h1 {
    margin: 0px;
}

.company-info .contact-info
 {
    grid-column: 1/2;
    grid-row: 2/2;
 }
 
 .contact-info a {
    color: var(--secondary-color);
 }

 .contact-info #phone {
    margin-top: 50px;
 }

.company-info div, iframe {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center; 
   height: 100%;
}

#feedback {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
}

#feedback fieldset {
    border: none;
    padding: 10px 0;
}

#feedback #user-name, #email, #message {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

#feedback input, textarea {
    width: 500px;
    padding: 8px 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

#feedback legend {
    font-size: 14px;
    display: inline;
    margin-bottom: 5px;
}

#feedback #msg-inquiry, #msg-reservation, #msg-suggestion, #msg-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}



#feedback input[type="radio"], input#newsletter[type="checkbox"] {
    margin: 0px 8px 0px 0px;
    width: auto;
    cursor: pointer;
}

#feedback button{
    width: auto;
    padding: 10px 12px;
    margin-top: 20px;
    font-size: 14px;
    border: 0px;
    background-color: var(--accent1-color);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

footer a{
    color: var(--secondary-color);
    font-weight: bold;
}

