:root {
    --primary-color: #464A22;
    --secondary-color: #AEA32E;
    --accent1-color: #ACC456;
    --accent2-color: #5A5571;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 100px;
    text-align: center;
    background-color: #0000009a;
    width: 100%;
    color: white;
}

.hero article {
    position: absolute;
    background-color: #5a5571ad;
    color: white;
    top: 200px;
    padding: 10px;
    margin: auto;
    float: right;
    margin-left: 370px;
}
.hero article img {
    float: right;
    width: 200px; /* Set the width to 200 pixels */
    height: auto; /* Maintain the aspect ratio */
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Rajdhani';
    color: var(--accent1-color);
}

p {
    font-family: 'open sans', serif;
}

header a {
    text-decoration: none;
}

footer img{
    width: 30px; /* Set the width to 100 pixels */
    height: auto; /* Maintain the aspect ratio */
}
    
